.introduction {
    background-color:#fffd8f;
    text-align: center;
    padding: 8% 0;
}
.introduction-1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    margin-bottom: 0.2em;
    margin-top: 0.1em;
}
.introduction-2 {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 6em;
    font-weight: bold;
    color: #FFA850;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.projects {
    background-color:#2cfd9b;
    padding: 10% 0;
}
.projects-1 {
    margin-top: 0.01em;
    text-align: right;
    text-decoration: overline;
    text-decoration-thickness: 10px;
	margin-right: 50px;
    font-size: 3.5em;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    color: #FFF;
}
.projects-timer-intro,.projects-timer-description,.projects-timer-link {
    text-align: left;
	margin-left: 50px;
}
.projects-timer-intro {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 3em;
	font-weight: bold;
	color:sandybrown ;
	margin-bottom: 0.05em;
}
.projects-timer-description {
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 1.5em;
	color: white;
}
.projects-timer-link {
	font-family: 'Times New Roman', Times, sans-serif ;
	font-size: 1.5em;
}
.projects-timer-picture {
	border: 5px solid white;
    margin-left: 50px;

}
.experience {
    background-color:#00d9ff;
    text-align: center;
    padding: 10% 0;
}
.contacts {
    background-color:#ff8282;
    text-align: center;
    padding: 10% 0;
}